@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Signika+Negative:wght@300&display=swap');

html {
  font-family: "Noto Serif", 'Open Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:active,
a:hover {
  outline: 0;
}

:root {
  --links: #1f8cff;
  --code-font-size: 0.85em;
}

code, kbd {
  font-style: normal;
  vertical-align: unset !important;
}

code {
  letter-spacing: -0.050em;
}

sup {
  line-height: 1em;
}

a {
  text-decoration: none !important;
}

.footnote-definition p, blockquote em, .footnote-definition > details {
  font-family: 'Signika Negative', serif;
}

.footnote-definition > details, .footnote-definition > details > summary {
  display: contents;
  color: var(--links);
}

.part-title {
  font-weight: bold;
  font-size: 175%;
  font-variant-caps: small-caps;
}

.chapter li {
  color: inherit;
}

.chapter li a.active, .chapter li a:hover {
	color: var(--links);
}

.chapter>.chapter-item {
  font-weight: 550;
  font-size: 120%;
}

.chapter>.chapter-item:first-child {
  font-weight: bold;
  font-size: 200%;
  font-variant-caps: small-caps;
}

.chapter > li > ol > li {
  font-size: 110%;
}

td>ol,
td>ul {
  margin: 0;
  padding: 0;
  padding-left: inherit;
}

main>section,
main>pre,
main h1,
main h2,
main h3 {
  clear: both;
}

h2, h3 {
  margin-top: 1.5em;
}

hr {
  margin: 1.2em 0 1.2em 0;
}

[id="1"].footnote-definition {
  border-top: 1px var(--fg) dotted;
  padding-top: 12px;
}

textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
  min-height: 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-style: double;
}

.highlight {
  font-weight: bolder;
}

.lowlight * {
  opacity: 0.5;
}

a:target::before {
  content: '👀 ';
  animation: blinker 1.33s linear infinite;
  border: 1px solid #0162ff;
  border-radius: 8px;
  background-color: #5296fc;
  margin-left: 0.5ch;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

object, iframe {
  border-radius: 1em;
  border: .2em solid var(--quote-border);
}

pre > code {
  border: .2em double var(--quote-border);
}

blockquote {
  border: .1em solid var(--quote-border);
}

.fa-external-link {
  font-size: 0.7em;
  padding-left: 0.7ch;
  display: inline;
}

.fa-picture-o {
  cursor: help;
}

#answer-stats {
  text-align: right;
  width: 100%;
  font-family: 'Signika Negative', sans-serif, serif;
  color: var(--icons);
}

#answer-stats a {
  text-decoration: none !important;
  cursor: pointer;
  color: var(--icons);
  font-style: normal;
}

#answer-stats a:hover {
  color: var(--fg);
}

@media print {
  #sidebar,
  #menu-bar,
  .nav-chapters,
  .mobile-nav-chapters {
      display: none;
  }
  
  #page-wrapper.page-wrapper {
      transform: none !important;
      margin-inline-start: 0px;
      overflow-y: initial;
  }
  
  #content {
      max-width: none;
      margin: 0;
      padding: 0;
  }
  
  .page {
      overflow-y: initial;
  }
  
  code {
      direction: ltr !important;
  }
  
  pre > .buttons {
      z-index: 2;
  }
  
  a, a:visited, a:active, a:hover {
      color: #4183c4;
      text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
      page-break-inside: avoid;
      page-break-after: avoid;
  }
  
  pre, code {
      page-break-inside: avoid;
      white-space: pre-wrap;
  }
  
  .fa {
      display: none !important;
  }
}